<div class="bannerWithFilter">
  <div class="banner">
    <img src="../assets/images/slots/banner.svg" alt="banner" />
  </div>
  <div>
    <div class="filter">
      <div class="category__slots">
        <div class="category__list" *ngFor="let item of categories">
          <div class="category__name">
            <img src="../assets/images/live.svg" alt="live" />
            {{ item.name }}
            <span>{{ item.totalGames }}</span>
          </div>
        </div>
      </div>
      <div class="provider__slots">
        <div class="seeMore" (click)="seeMore()">
          {{ action }}
          <img
            src="/assets/images/slots/seeMoreLess.svg"
            alt="No Icon"
            class="see-more-btn__arrow"
            [class.icon-active]="seeMoreLess"
          />
        </div>
        <div class="provider__list" [ngStyle]="styleObject()">
          <div class="provider__name" *ngFor="let item of providers">
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
