<mat-nav-list>
  <div class="logo">
    <img src="../assets/images/logo.svg" alt="Company Logo" />
  </div>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/sport">
    <img src="../assets/images/sport.svg" alt="sport" />
    SPORT
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/live">
    <img src="../assets/images/live.svg" alt="live" />
    LIVE
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/slots">
    <img src="../assets/images/slot.svg" alt="slots" />
    SLOTS
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/casino">
    <img src="../assets/images/casino.svg" alt="casino" />
    CASINO
  </a>
</mat-nav-list>
